#graph{
	padding-top:10px;
    margin-left: 20px;
	height: 260px;
	width: 550px;
	clear:both;
}
#battle_field{
	margin-top:0px;
	margin-bottom:0px;
	height:340px;
	position:relative;
	z-index:3;
}
#rps{
	position:relative;
	height:550px;
	width:550px;
	float:left;
	margin-bottom:10px;
}
#hands{
	height:320px;
	width: 200px;
	margin-left:150px;
	float:left;
	position:absolute;
}
.bf-text-top{
	float:left;
	position:relative;
}
.bf-text-bottom{
	float:left;
	position:absolute;
	width:300px;
	bottom:0;
}
#final_result{
	position:absolute;
	margin-left:173px;
	z-index:2;
}
#final_result img{
	width:400px;
	height:400px;
}
#final_result2{
	float:left;
	position:absolute;
	margin-left:133px;
	margin-top:350px;
	display:none;
}
#final_result3{
    font:25pt Arial;
    font-weight: bold;
    text-align: center;
    background-color: rgba(255,255,255,0.8);
	width:400px;
	height:70px;
    line-height: 70px;
	margin-top:50px;
	margin-left:140px;
    /*
    line-height: 200px;
    background-image: url("frame.png");
    background-repeat: no-repeat;
    background-size: contain;
	width:600px;
	height:200px;
	*/
	position:absolute;
	z-index:2;
	display:none;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	}
	.clearfix {display: inline-table;}

.machine_buttons{
	background-color:rgba(0,0,0,0.3);
}
.buttons{
	background-color:rgba(230,230,0,0.15);
}

.buttons, .machine_buttons{
	position:relative;
    width: 520px;
    height:95px;
    padding-top:5px;
    border: solid 3px #000000;
	z-index:1;
}
.buttons input, .machine_buttons img, .copy img, .m_copy img{
	width: 80px;
	height: 80px;
	margin-left:40px;
	margin-right:40px;
}
.buttons input, .copy img{
    border: solid 5px #4169e1;
}
.machine_buttons img, .m_copy img{
    border: solid 5px #dc143c;
}
.m_copy{
	position:absolute;
    width: 520px;
    height:95px;
	top:8px;
	left:3px;
	z-index:0;
}
.copy{
	position:absolute;
    width: 520px;
    height:95px;
	top:454px;
	left:3px;
	z-index:0;
} 

.button {
    font:14pt Arial;
    font-weight: bold;
    margin-left: 14;
    margin-right: 0;
}
#win img{
	width:200px;
	height:200px;
	opacity:1.0;
	position:absolute;
	left:15px;
}
#win{
	z-index:2;
}

#results{
	clear:both;
	font:23pt Arial;
    width: 520px;
    border: solid 3px #82d562;
    background-color: #f3ffff;
    text-align: center;
	margin-bottom:10px;
}

.info {
    font-size: 10pt;
    margin-bottom: 0px;
    float: left;
    margin-left: 20;
}
.footer{
	clear:both;
}